[submodule "silent"]
	path = silent
	url = https://github.com/uiriansan/SilentSDDM.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/plugins/catppuccin/tmux"]
	path = tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "tmux/plugins/tmux-which-key"]
	path = tmux/plugins/tmux-which-key
	url = https://github.com/alexwforsythe/tmux-which-key.git
[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "tmux/plugins/tmux-sessionx"]
	path = tmux/plugins/tmux-sessionx
	url = https://github.com/omerxx/tmux-sessionx.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
# [submodule "Nordic"]
# 	path = Nordic
# 	url = https://github.com/EliverLara/Nordic.git
[submodule "Elegant-grub2-themes"]
	path = grub/Elegant-grub2-themes
	url = https://github.com/vinceliuice/Elegant-grub2-themes.git
[submodule "kitty/Catppuccin"]
	path = kitty/Catppuccin
	url = https://github.com/catppuccin/kitty.git
[submodule "web-greeter/themes/lightdm-web-corporate-glassmorphism"]
	path = web-greeter/themes/lightdm-web-corporate-glassmorphism
	url = https://github.com/Awethon/lightdm-web-corporate-glassmorphism.git
[submodule "web-greeter/themes/modern"]
	path = web-greeter/themes/modern
	url = https://github.com/ffwff/modern.git
[submodule "web-greeter/themes/glorious"]
	path = web-greeter/themes/glorious
	url = https://github.com/eromatiya/lightdm-webkit2-theme-glorious.git
[submodule "web-greeter/themes/litarvan"]
	path = web-greeter/themes/litarvan
	url = https://github.com/Litarvan/lightdm-webkit-theme-litarvan.git
